.musicBoxVideo {
	display: none;
}
.musicBoxImg {
	border-radius: 50%;
	width: 30vw;
	height: 30vw;
	margin: 0 auto;
	display: block;
	animation: circling 20s linear infinite;
}
@keyframes circling {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}