.searchBox {
	width: 100%;
	padding: 30px 10px;
}
.searchBtn {
	margin: 0px 10px 10px;
}

.weatherBox {
	color: #333;
	font-weight: bold;
}
.weatherBoxItem {
	color: #333;
	font-weight: bold;
	padding: 40px;
}
